Repository Im-Rises/CMake-Cpp-Library-Example, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, CMakeLists, readme, github-actions, src, main, test

.github/labeler.yml:

repo:
  - '*'

CMakeLists:
  - 'ParticleEngine/CMakeLists.txt'

readme:
  - 'README.md'

github-actions:
  - '.github/**/*.yml'

src:
  - 'ParticleEngine/**/*.{cpp,hpp}'

main:
  - 'ParticleEngine/main.*'

test:
  - 'test/**/*.{cpp,hpp}'

Added emscripten files for imgui
  dependencies/imgui/libs/emscripten/emscripten_mainloop_stub.h
  dependencies/imgui/libs/emscripten/shell_minimal.html
  dependencies/imgui/libs/glfw/COPYING.txt
  dependencies/imgui/libs/glfw/include/GLFW/glfw3.h
  dependencies/imgui/libs/glfw/include/GLFW/glfw3native.h
  dependencies/imgui/libs/glfw/lib-vc2010-32/glfw3.lib
  dependencies/imgui/libs/glfw/lib-vc2010-64/glfw3.lib
  dependencies/imgui/libs/usynergy/README.txt
  dependencies/imgui/libs/usynergy/uSynergy.c
  dependencies/imgui/libs/usynergy/uSynergy.h
Labels: none

wip
  CMakeLists.txt
  Comp-emscripten-glfw-opengles-imgui/web/index.wasm
  Comp-emscripten-glfw-opengles/web/index.wasm
  Comp-emscripten-sdl2-opengles-imgui/CMakeLists.txt
  Comp-emscripten-sdl2-opengles-imgui/Emscripten_Starter.h
  Comp-emscripten-sdl2-opengles-imgui/README.md
  Comp-emscripten-sdl2-opengles-imgui/main.cpp
  Comp-emscripten-sdl2-opengles-imgui/web/index.html
  Comp-emscripten-sdl2-opengles-imgui/web/index.js
  Comp-emscripten-sdl2-opengles-imgui/web/index.wasm
  Comp-emscripten-sdl2-opengles/CMakeLists.txt
  Comp-emscripten-sdl2-opengles/Emscripten_Starter.h
  Comp-emscripten-sdl2-opengles/README.md
  Comp-emscripten-sdl2-opengles/main.cpp
  Comp-emscripten-sdl2-opengles/web/index.html
  Comp-emscripten-sdl2-opengles/web/index.js
  Comp-emscripten-sdl2-opengles/web/index.wasm
  Lib_OpenCL/README.md
  Libs-sdl2-glad-opengl-imgui/README.md
Labels: repo

wip
  Comp-emscripten-glfw-opengles-imgui/web/index.html
  Comp-emscripten-glfw-opengles-imgui/web/index.wasm
  Comp-emscripten-sdl2-opengles-imgui/CMakeLists.txt
  Comp-emscripten-sdl2-opengles-imgui/main.cpp
  Comp-emscripten-sdl2-opengles/CMakeLists.txt
  Comp-emscripten-sdl2-opengles/main.cpp
Labels: none

wip
  Comp-emscripten-sdl2-opengles-imgui/CMakeLists.txt
  Comp-emscripten-sdl2-opengles-imgui/main.cpp
  Comp-emscripten-sdl2-opengles-imgui/web/index.html
  Comp-emscripten-sdl2-opengles-imgui/web/index.js
  Comp-emscripten-sdl2-opengles-imgui/web/index.wasm
  Comp-emscripten-sdl2-opengles/main.cpp
Labels: none

wip
  Comp-emscripten-sdl2-opengles-imgui/CMakeLists.txt
  Comp-emscripten-sdl2-opengles-imgui/main.cpp
  Libs-sdl2-glad-opengl-imgui/main.cpp
  clean.bat
  clean.sh
Labels: repo

wip
  Comp-emscripten-sdl2-opengles/CMakeLists.txt
  Comp-emscripten-sdl2-opengles/main.cpp
Labels: none

wip
  Comp-emscripten-sdl2-opengles-imgui/CMakeLists.txt
  Comp-emscripten-sdl2-opengles-imgui/README.md
  Comp-emscripten-sdl2-opengles-imgui/main.cpp
  Comp-emscripten-sdl2-opengles-imgui/web/index.js
  Comp-emscripten-sdl2-opengles-imgui/web/index.wasm
  Comp-emscripten-sdl2-opengles/CMakeLists.txt
  Comp-emscripten-sdl2-opengles/README.md
  Comp-emscripten-sdl2-opengles/main.cpp
  Comp-emscripten-sdl2-opengles/web/index.js
  Comp-emscripten-sdl2-opengles/web/index.wasm
Labels: none

Working
  CMakeLists.txt
  Comp-emscripten-sdl2-opengles-imgui/CMakeLists.txt
  Comp-emscripten-sdl2-opengles/main.cpp
Labels: repo

For unknown reason emscripten won't compile with the ES3 extension?
  Comp-emscripten-sdl2-opengles-imgui/CMakeLists.txt
  Comp-emscripten-sdl2-opengles-imgui/main.cpp
  Comp-emscripten-sdl2-opengles-imgui/web/index.html
  Comp-emscripten-sdl2-opengles-imgui/web/index.wasm
  Comp-emscripten-sdl2-opengles/CMakeLists.txt
  Comp-emscripten-sdl2-opengles/main.cpp
  Comp-emscripten-sdl2-opengles/web/index.html
  Comp-emscripten-sdl2-opengles/web/index.js
  Comp-emscripten-sdl2-opengles/web/index.wasm
Labels: none

wip
  Comp-emscripten-sdl2-opengles-imgui/CMakeLists.txt
  Comp-emscripten-sdl2-opengles-imgui/main.cpp
  Comp-emscripten-sdl2-opengles/CMakeLists.txt
  Comp-emscripten-sdl2-opengles/main.cpp
  Comp-emscripten-sdl2-opengles/web/index.js
  Comp-emscripten-sdl2-opengles/web/index.wasm
Labels: none

New version with emscripten demo for sdl2
  .github/workflows/cmake.yml
  .github/workflows/emscripten-cmake.yml
  Comp-emscripten-sdl2-opengles-imgui/README.md
  Comp-emscripten-sdl2-opengles-imgui/main.cpp
  Comp-emscripten-sdl2-opengles-imgui/web/index.html
  Comp-emscripten-sdl2-opengles-imgui/web/index.js
  Comp-emscripten-sdl2-opengles-imgui/web/index.wasm
  Comp-emscripten-sdl2-opengles/README.md
  Comp-emscripten-sdl2-opengles/main.cpp
  README.md
Labels: repo, readme, github-actions

wip
  .github/workflows/emscripten-publish.yml
Labels: github-actions

Reactivated all projects
  CMakeLists.txt
Labels: repo

Changed emscripten version
  .github/workflows/emscripten-cmake.yml
Labels: github-actions

New example
  .github/workflows/cmake.yml
  CMakeLists.txt
  Lib_OpenCL_CPP/CMakeLists.txt
  Lib_OpenCL_CPP/README.md
  Lib_OpenCL_CPP/main.cpp
  README.md
Labels: repo, readme, github-actions

New OpenCL tutorial
  .gitattributes
Labels: repo

Update .gitattributes
  .gitattributes
Labels: repo

Added emscripten-react example
  Comp-emscripten-react/CMakeLists.txt
  Comp-emscripten-react/Emscripten_Starter.h
  Comp-emscripten-react/README.md
  Comp-emscripten-react/demo-react-emscripten/.gitignore
  Comp-emscripten-react/demo-react-emscripten/README.md
  Comp-emscripten-react/demo-react-emscripten/package-lock.json
  Comp-emscripten-react/demo-react-emscripten/package.json
  Comp-emscripten-react/demo-react-emscripten/public/favicon.ico
  Comp-emscripten-react/demo-react-emscripten/public/index.html
  Comp-emscripten-react/demo-react-emscripten/public/logo192.png
  Comp-emscripten-react/demo-react-emscripten/public/logo512.png
  Comp-emscripten-react/demo-react-emscripten/public/manifest.json
  Comp-emscripten-react/demo-react-emscripten/public/robots.txt
  Comp-emscripten-react/demo-react-emscripten/src/App.css
  Comp-emscripten-react/demo-react-emscripten/src/App.js
  Comp-emscripten-react/demo-react-emscripten/src/EmscriptenWebgl.css
  Comp-emscripten-react/demo-react-emscripten/src/EmscriptenWebgl.js
  Comp-emscripten-react/demo-react-emscripten/src/emscripten-module/comp-emscripten-react.js
  Comp-emscripten-react/demo-react-emscripten/src/emscripten-module/comp-emscripten-react.wasm
  Comp-emscripten-react/demo-react-emscripten/src/index.css
  Comp-emscripten-react/demo-react-emscripten/src/index.js
  Comp-emscripten-react/demo-react-emscripten/src/setupTests.js
  Comp-emscripten-react/demo-react-emscripten/src/test/App.test.js
  Comp-emscripten-react/demo-react-emscripten/src/web-vitals/reportWebVitals.js
  Comp-emscripten-react/main.cpp
Labels: none

wip
  Comp-emscripten-react/demo-react-emscripten/src/emscripten-module/comp-emscripten-react.html
  Comp-emscripten-react/demo-react-emscripten/src/emscripten-module/comp-emscripten-react.js
  Comp-emscripten-react/demo-react-emscripten/src/emscripten-module/comp-emscripten-react.wasm
  Comp-emscripten-react/main.cpp
Labels: none

wip
  README.md
Labels: repo, readme

Added C++ module example
  CMakeLists.txt
  Module_CPP/CMakeLists.txt
  Module_CPP/README.md
  Module_CPP/foo.cpp
  Module_CPP/foo.ixx
  Module_CPP/main.cpp
Labels: repo

New version
  .github/workflows/cmake.yml
  Module_CPP/main.cpp
Labels: github-actions

testing
  CMakeLists.txt
  Module_CPP/CMakeLists.txt
Labels: repo

Wip
  .github/workflows/cmake.yml
  Module_CPP/README.md
Labels: github-actions

Deactivated cmake module
  CMakeLists.txt
Labels: repo

wip
  .github/workflows/cmake.yml
Labels: github-actions

Deleted cmake cpp module
  CMakeLists.txt
  Module_CPP/CMakeLists.txt
  Module_CPP/README.md
  Module_CPP/foo.cpp
  Module_CPP/foo.ixx
  Module_CPP/main.cpp
Labels: repo

New example
  .github/workflows/cmake.yml
  CMakeLists.txt
  CPP_Modules/CMakeLists.txt
  CPP_Modules/README.md
  CPP_Modules/foo.cpp
  CPP_Modules/foo.ixx
  CPP_Modules/main.cpp
  README.md
Labels: repo, readme, github-actions

Corrected workflow
  .github/workflows/cmake.yml
Labels: github-actions

Corrected workflow
  CPP_Modules/CMakeLists.txt
Labels: none

Deactivate cpp cmake modules
  .github/workflows/cmake.yml
Labels: github-actions

wip
  .gitattributes
Labels: repo

Added emscripten-react example
  .github/workflows/wasm-react-cmake.yml
Labels: github-actions

wip
  .github/workflows/wasm-react-cmake.yml
Labels: github-actions

wip
  .github/workflows/wasm-react-cmake.yml
Labels: github-actions

wip
  .github/workflows/wasm-react-cmake.yml
Labels: github-actions

wip
  .github/workflows/wasm-react-cmake.yml
Labels: github-actions

wip
  .github/workflows/wasm-react-cmake.yml
Labels: github-actions

wip
  .github/workflows/wasm-react-cmake.yml
Labels: github-actions

Updated readme for react example
  .github/workflows/wasm-react-cmake.yml
  Comp-emscripten-react/README.md
Labels: github-actions
