Repository Im-Rises/CMake-Cpp-Library-Example, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, CMakeLists, readme, github-actions, src, main, test

.github/labeler.yml:

repo:
  - '*'

CMakeLists:
  - 'ParticleEngine/CMakeLists.txt'

readme:
  - 'README.md'

github-actions:
  - '.github/**/*.yml'

src:
  - 'ParticleEngine/**/*.{cpp,hpp}'

main:
  - 'ParticleEngine/main.*'

test:
  - 'test/**/*.{cpp,hpp}'

Updated workflows
  .github/workflows/cmake.yml
Labels: github-actions

Updated sdl2 demo code
  Lib_SDL2/CMakeLists.txt
  Lib_SDL2/main.cpp
  README.md
Labels: repo, readme

wip
  .github/workflows/msvc.yml
  .gitignore
  Lib_SDL2/CMakeLists.txt
  Lib_SDL2/main.cpp
  README.md
  dependencies/SDL2/lib/x64/SDL2.dll
  dependencies/SDL2/lib/x64/SDL2.lib
  dependencies/SDL2/lib/x64/SDL2main.lib
  dependencies/SDL2/lib/x64/SDL2test.lib
  dependencies/SDL2/lib/x86/SDL2.dll
  dependencies/SDL2/lib/x86/SDL2.lib
  dependencies/SDL2/lib/x86/SDL2main.lib
  dependencies/SDL2/lib/x86/SDL2test.lib
Labels: repo, readme, github-actions

Added pthreads
  CMakeLists.txt
  Lib_PThreads/CMakeLists.txt
  Lib_PThreads/README.md
  Lib_PThreads/main.cpp
  Lib_SDL2/README.md
  Lib_SFML/README.md
  README.md
Labels: repo, readme

Added OpenMP
  .github/workflows/cmake.yml
  CMakeLists.txt
  Lib_OpenMP/CMakeLists.txt
  Lib_OpenMP/README.md
  Lib_OpenMP/main.cpp
  README.md
Labels: repo, readme, github-actions

wip openmp
  Lib_OpenCL/CMakeLists.txt
  Lib_OpenCL/README.md
  Lib_OpenCL/main.cpp
  Lib_OpenMP/CMakeLists.txt
  Lib_OpenMP/README.md
  Lib_SFML/README.md
  README.md
Labels: repo, readme

Updated cmake version
  .github/workflows/cmake.yml
  CMakeLists.txt
  Lib_OpenMP/CMakeLists.txt
  README.md
Labels: repo, readme, github-actions

Updated OpenMP state
  Lib_OpenMP/CMakeLists.txt
  Lib_OpenMP/README.md
Labels: none

wip
  Lib_OpenCL/CMakeLists.txt
  Lib_OpenCL/README.md
  Lib_OpenCL/main.cpp
  Lib_OpenMP/CMakeLists.txt
  Lib_OpenMP/README.md
  README.md
Labels: repo, readme

wip
  CMakeLists.txt
  README.md
  clean.bat
  clean.sh
Labels: repo, readme

wip
  .gitignore
  CMakeLists.txt
  Lib_OpenCL/CMakeLists.txt
  Lib_OpenCL/main.cpp
  README.md
Labels: repo, readme

wip
  README.md
Labels: repo, readme

Updated workflow
  .github/workflows/cmake.yml
  Lib_OpenCL/CMakeLists.txt
Labels: github-actions

Added OpenMPI
  CMakeLists.txt
  Lib_OpenCL/main.cpp
  Lib_OpenMPI/CMakeLists.txt
  Lib_OpenMPI/README.md
  Lib_OpenMPI/main.cpp
  README.md
Labels: repo, readme

Added OpenMPI
  .github/workflows/cmake.yml
  Lib_OpenMPI/README.md
  Lib_OpenMPI/main.cpp
Labels: github-actions

Added some examples
  Lib_OpenMPI/CMakeLists.txt
Labels: none

Updated some infos
  .gitattributes
  Lib_OpenCV/CMakeLists.txt
  Lib_OpenCV/README.md
  Lib_OpenCV/main.cpp
  Lib_OpenMPI/README.md
  README.md
Labels: repo, readme

Deleted OpenMP for macos
  Lib_OpenMP/CMakeLists.txt
Labels: none

Added new opencl lib
  .github/workflows/cmake.yml
  Lib_OpenCL/README.md
Labels: github-actions

wip
  Lib_OpenCL/CMakeLists.txt
  Lib_OpenCL/README.md
Labels: none

wip
  Lib_OpenCL/README.md
  Lib_OpenCV/README.md
  Lib_OpenMP/README.md
  Lib_OpenMPI/README.md
Labels: none

Deleted opencv lib
  .gitignore
  CMakeLists.txt
  Lib_OpenCV/CMakeLists.txt
  Lib_OpenCV/main.cpp
  README.md
Labels: repo, readme

Added opengl demo
  .github/workflows/cmake.yml
  Libs-glfw-glad-opengl-imgui/main.cpp
Labels: github-actions

Updated readme
  README.md
Labels: repo, readme

Updated workflow
  .github/workflows/cmake.yml
Labels: github-actions

Updated workflows
  .github/workflows/cmake.yml
  README.md
  clean.bat
  clean.sh
Labels: repo, readme, github-actions

wip
  .gitattributes
Labels: repo

Added link to libraries
  README.md
Labels: repo, readme

Added Emscripten build
  CMakeLists.txt
  Comp-emscripten-glfw-opengles-imgui/CMakeLists.txt
  Comp-emscripten-glfw-opengles-imgui/README.md
  Comp-emscripten-glfw-opengles-imgui/main.cpp
  Comp-emscripten-glfw-opengles/CMakeLists.txt
  Comp-emscripten-glfw-opengles/Emscripten_Starter.h
  Comp-emscripten-glfw-opengles/README.md
  Comp-emscripten-glfw-opengles/main.cpp
  Comp-emscripten-glfw-opengles/web/index.html
  Comp-emscripten-glfw-opengles/web/index.js
  README.md
Labels: repo, readme

Big updated added emscripten
  .github/workflows/cmake.yml
  .github/workflows/emscripten-cmake.yml
  CMakeLists.txt
  Comp-emscripten-glfw-opengles-imgui/CMakeLists.txt
  Comp-emscripten-glfw-opengles-imgui/Emscripten_Starter.h
  Comp-emscripten-glfw-opengles-imgui/README.md
  Comp-emscripten-glfw-opengles-imgui/main.cpp
  Comp-emscripten-glfw-opengles-imgui/web/index.html
  Comp-emscripten-glfw-opengles/README.md
  Comp-emscripten-glfw-opengles/main.cpp
  Libs-glfw-glad-opengl-imgui/main.cpp
  Libs-glfw-glad-opengl/main.cpp
  README.md
  dependencies/imgui/libs/emscripten/emscripten_mainloop_stub.h
  dependencies/imgui/libs/emscripten/shell_minimal.html
  dependencies/imgui/libs/glfw/COPYING.txt
  dependencies/imgui/libs/glfw/include/GLFW/glfw3.h
  dependencies/imgui/libs/glfw/include/GLFW/glfw3native.h
  dependencies/imgui/libs/glfw/lib-vc2010-32/glfw3.lib
  dependencies/imgui/libs/glfw/lib-vc2010-64/glfw3.lib
  dependencies/imgui/libs/usynergy/README.txt
  dependencies/imgui/libs/usynergy/uSynergy.c
  dependencies/imgui/libs/usynergy/uSynergy.h
Labels: repo, readme, github-actions

wip
  Comp-emscripten-glfw-opengles-imgui/README.md
  Comp-emscripten-glfw-opengles/README.md
Labels: none

Updated gitattributes
  .gitattributes
Labels: repo

wip
  Comp-emscripten-glfw-opengles-imgui/README.md
Labels: none

Updated glad version and loading
  Comp-emscripten-glfw-opengles-imgui/CMakeLists.txt
  Comp-emscripten-glfw-opengles-imgui/main.cpp
  Comp-emscripten-glfw-opengles/CMakeLists.txt
  Comp-emscripten-glfw-opengles/main.cpp
  dependencies/glad/include/glad/glad.h
  dependencies/glad/src/glad.c
Labels: none

Added SDL2 + OpenGL3 demo
  CMakeLists.txt
  Libs-glfw-glad-opengl/CMakeLists.txt
  Libs-sdl2-glad-opengl-imgui/CMakeLists.txt
  Libs-sdl2-glad-opengl-imgui/README.md
  Libs-sdl2-glad-opengl-imgui/main.cpp
  Libs-sdl2-glad-opengl/CMakeLists.txt
  Libs-sdl2-glad-opengl/README.md
  Libs-sdl2-glad-opengl/main.cpp
  dependencies/imgui/imgui_impl_sdl2.cpp
  dependencies/imgui/imgui_impl_sdl2.h
Labels: repo

wip
  .gitattributes
  .github/workflows/cmake.yml
Labels: repo, github-actions

Updated readme.md
  README.md
Labels: repo, readme

Corrected some issues
  Comp-emscripten-glfw-opengles/main.cpp
  Libs-glfw-glad-opengl/main.cpp
  Libs-sdl2-glad-opengl-imgui/CMakeLists.txt
  Libs-sdl2-glad-opengl-imgui/main.cpp
  Libs-sdl2-glad-opengl/CMakeLists.txt
  Libs-sdl2-glad-opengl/main.cpp
Labels: none

Updated imgui version
  dependencies/imgui/imconfig.h
  dependencies/imgui/imgui.cpp
  dependencies/imgui/imgui.h
  dependencies/imgui/imgui_demo.cpp
  dependencies/imgui/imgui_draw.cpp
  dependencies/imgui/imgui_impl_glfw.cpp
  dependencies/imgui/imgui_impl_glfw.h
  dependencies/imgui/imgui_impl_opengl3.cpp
  dependencies/imgui/imgui_impl_opengl3.h
  dependencies/imgui/imgui_impl_opengl3_loader.h
  dependencies/imgui/imgui_impl_sdl2.cpp
  dependencies/imgui/imgui_impl_sdl2.h
  dependencies/imgui/imgui_internal.h
  dependencies/imgui/imgui_tables.cpp
  dependencies/imgui/imgui_widgets.cpp
  dependencies/imgui/imstb_textedit.h
  dependencies/imgui/imstb_truetype.h
Labels: none

Updated impl sdl2 imgui
  dependencies/imgui/imgui_impl_glfw.cpp
  dependencies/imgui/imgui_impl_sdl2.cpp
  dependencies/imgui/imgui_impl_sdl2.h
  dependencies/imgui/libs/emscripten/emscripten_mainloop_stub.h
  dependencies/imgui/libs/emscripten/shell_minimal.html
  dependencies/imgui/libs/glfw/COPYING.txt
  dependencies/imgui/libs/glfw/include/GLFW/glfw3.h
  dependencies/imgui/libs/glfw/include/GLFW/glfw3native.h
  dependencies/imgui/libs/glfw/lib-vc2010-32/glfw3.lib
  dependencies/imgui/libs/glfw/lib-vc2010-64/glfw3.lib
  dependencies/imgui/libs/usynergy/README.txt
  dependencies/imgui/libs/usynergy/uSynergy.c
  dependencies/imgui/libs/usynergy/uSynergy.h
Labels: none
